FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=change-this-to-a-random-secret-key
DEV_DATABASE_URL=sqlite:///data-dev.sqlite
TEST_DATABASE_URL=sqlite:///data-test.sqlite
DATABASE_URL=sqlite:///data.sqlite
