__pycache__/
*.py[cod]
*$py.class
*.so
*.sqlite
*.sqlite3
data-*.sqlite
data.sqlite
.venv/
venv/
ENV/
env/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg-info/
*.egg
instance/
.webassets-cache
.env
Dockerfile.local
node_modules/
